.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #mainpara  {
  position: absolute;
  top:20px;
  left: 200px;
  
}
h1{
  color: black;
}
#addbtn{
  color: white;
  background-color: green;
  border-radius: 5px;
  border-color:green ;
}
#delbtn{
  color: white;
  background-color: green;
  border-radius: 5px;
  border-color:#008000 ;

}

.list{
  background-color:white;
  margin-left: 280px;
  color: black;
  margin-left: 280px;
  margin-right:280px;
  border-radius: 5px;
  margin-top: 30px;
  

}
#form input{
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  color: black;
}
#form{
  margin-left: 280px;
} */
#colorchange{
  margin-left: 200px;
  margin-right: 200px;
  border: 2px solid black;
  margin-top: 30px;
  padding: 70px;
  text-align: center;
}
#search{
  margin-left: 300px;
  margin-right: 200px;
 }
 #toggle{
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 30px;
 }


/* body{
  background-image: linear-gradient(89.1deg,rgb(19, 194, 247) 15.2% ,rgb(171, 224, 166)98.5%);
} */

